<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Servicios-gs : Módulo de &quot;Servicios en red e internet&quot; del ciclo ASIR">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/menu.css">
    <title>Servicios-gs</title>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(function() {
    var pull = $('#pull');
    menu = $('nav ul');
    menuHeight = menu.height();

    $(pull).on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
    });
});

$(window).resize(function(){
    var w = $(window).width();
    if(w > 320 && menu.is(':hidden')) {
        menu.removeAttr('style');
    }
});
</script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/josedom24/servicios-gs">View on GitHub</a>

          <h1 id="project_title">Servicios GS</h1>
          <h2 id="project_tagline">Módulo de &quot;Servicios en red e internet&quot; del ciclo ASIR</h2>
          <h4 id="project_tagline">IES Gonzalo Nazareno - José Domingo Muñoz</h4>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/josedom24/servicios-gs/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/josedom24/servicios-gs/tarball/master">Download this project as a tar.gz file</a>
            </section>

        </header>
    </div>

   
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Introducción</a></li>
        <li><a href="#">dhcp</a></li>
        <li><a href="#">Web</a></li>
        <li><a href="#">dns</a></li>
        <li><a href="#">ftp</a></li>
        <li><a href="#">Proxy</a></li>
        <li><a href="#">Email</a></li>
        <br clear="all" />
    </ul>
    <a id="pull" href="#">Menú</a>
</nav>
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Servicios-gs maintained by <a href="https://github.com/josedom24">josedom24</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>